/* stylelint-disable no-descending-specificity */
// Background classes

.bg-theme--midnight {
  background-color: var(--midnight);
  .wrapper {
    .left-nav {
      button {
        color: var(--white);
        .logo-image {
          background-image: url('../../assets/images/svg/logo-white.svg') !important;
        }
      }
    } 
    .right-nav {
      .nav-icon {
        width: 1.5rem;
        
        .locationSvg {
          background-image: url('../../assets/images/svg/location_white.svg') !important;
          width: 1.5rem;
          height: 1.5rem;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .profileSvg {
          background-image: url('../../assets/images/svg/profile_white.svg') !important;
          width: 1.5rem;
          height: 1.5rem;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .cartSvg {
          background-image: url('../../assets/images/svg/cart_white.svg') !important;
          width: 1.5rem;
          height: 1.5rem;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}