// Create a text color class and background color class for each color

@each $color-name, $color-info in $color-map {
  .color-brand-text-#{$color-name} {
    color: var(--color-brand-#{$color-name});
  }
  .color-brand-bg-#{$color-name} {
    background-color: var(--color-brand-#{$color-name});
  }
}

// DCP-2577 background color for 50/50 hero
.color-brand-bg-twilightfade-5 {
  background-color: var(--color-brand-twilightfade-5);
}