// Create a text color class and background color class for each color

@each $color-name, $color-info in $color-map {
  .color-brand-text-#{$color-name} {
    color: var(--color-brand-#{$color-name});
  }
  .color-brand-bg-#{$color-name} {
    background-color: var(--color-brand-#{$color-name});
  }
}

// DCP-2567 background color for 50/50 hero
.color-brand-bg-twilightfade-5 {
  background-color: var(--color-brand-twilightfade-5);
}

// Color Brand Alias classes
.color-brand-text-promo {
  color: var(--color-brand-promo);
}

.color-brand-bg-promo {
  background-color: var(--color-brand-promo);
}

.color-brand-text-promo-alt {
  color: var(--color-brand-promo-alt);
}

.color-brand-bg-promo-alt {
  background-color: var(--color-brand-promo-alt);
}

// @deprecated
// The following Badge Type terms inside the Badges taxonomy are deprecated.
// - Blue Promotion, Purple Promotion, Feature
// @todo: Remove these styles once there are no more taxonomy terms with this Badge Type.
.color-brand-bg-blue-promotion {
  background-color: var(--color-brand-orchid);
}
.color-brand-bg-purple-promotion {
  background-color: var(--color-brand-lavender-100);
}
.color-brand-bg-feature {
  background-color: var(--color-brand-sandman);
}