// Create a text color class and background color class for each color

// @todo: deprecated
@each $color-name, $color-info in $color-map {
  .color-brand-text-#{$color-name} {
    color: var(--color-brand-#{$color-name});
  }
  .color-brand-bg-#{$color-name} {
    background-color: var(--color-brand-#{$color-name});
  }
}

// Gradient background colors
// @todo: deprecated
.color-brand-bg-sunrise-gradient {
  background: var(--sunrise-gradient);
}
.bg--colors-utilities-sunrise {
  background: var(--colors-utilities-sunrise);
}

// Gradient styles
.gradient-border-top {
  height: 8px;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  position: absolute;
  top: 0;
  width: 100vw;
}
// Used in banner and finance banner
.gradient--twilight-500 {
  background: var(--bg-gradient-twilight-500);
}

// Create a text color class and background color class for each color
@each $category, $colors in $colors-map {
  @each $color-name, $color-value in $colors {
    .text--colors-#{$category}-#{color-name} {
      color: var(--colors-#{$category}-#{$color-name});
    }

    .bg--colors-#{$category}-#{color-name} {
      background-color: var(--colors-#{$category}-#{$color-name});
    }
  }
}