// Global styles for eyebrows.
//  - offer
//  - countdown
//  - regular eyebrow

.field--name-field-p-eyebrow {
  margin-bottom: 0;
}

.paragraph--type--offer,
.paragraph--type--countdown,
.field--name-field-eyebrow,
.field--name-field-p-eyebrow {
  --heading-color: var(--body-color);

  color: var(--heading-color);
  font-family: var(--ff-utility);
  margin-bottom: var(--vs-xxxs);

  @include text(utility, eyebrow);

  .dark-mode & {
    --heading-color: var(--white);
  }

  // Field_p_eyebrow options.
  &.text-secondary-white {
    color: var(--white);
  }

  &.text-promo {
    color: var(--promo-color);
  }
}
