///
///  Defines global styles for web forms elements
///

form {
  input {
    font-size: 14px;
    background: transparent;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--gray-utility);
    margin: 0.5rem 0;
    color: var(--body-color);

    // Styles placeholder text.
    &::placeholder {
      font-style: italic;
    }

    &:focus {
      outline-color: var(--color-brand-lavender-500);
    }

    &[type='submit']{
      color: white;
      background-color: var(--color-brand-twilight-500);
      font-size: 14px;
      border-radius: 18px;
      border: none;
    }

    &[type="checkbox"] {
      width: 20px;
      height: 20px;
      appearance: none;
      background-color: transparent;
      margin: 0;
      color: var(--color-brand-twilight-500);
      border: 2px solid var(--color-brand-twilight-500);
      border-radius: 3px;

      &::before {
        content: '';
      }

      &:checked {
        background-color: var(--purple);
        color: white;
        font-size: 1rem;

        @include icon-before(check);
      }
    }

    .dark-mode & {
      color: white;

      &::placeholder {
        color: white;
      }

      &[type="checkbox"] {
        border: 2px solid white;

        &:checked {
          background-color: white;
          color: var(--purple);
          font-size: 1rem;

          @include icon-before(check);
        }
      }
    }
  }
}
