/*
Link Utility Classes

// Color
.link-style--solid-dark
.link-style--solid-light
.link-style--outline-dark
.link-style--outline-light

// Size
.btn--large
.btn--medium
.btn--small
*/

// @deprecated
// .link is no longer in use.
// Use .link-style--text
.link {
  --link-color: var(--color-brand-violet);
  --link-tr: all var(--trt-4) var(--trtf-a2);
  --link-decoration: none;

  color: var(--link-color);
  transition: var(--link-tr);
  text-decoration: var(--link-decoration);

  .dark-mode & {
    --link-color: var(--white);
  }
}

// CTA Text Link Styles ['link-style--text']
.link-style--text a,
.link-style--text button,
a.link-style--text,
button.link-style--text {
  @include link(violet, sm, medium);

  .dark-mode & {
    @include link-style(white);
  }
}

// CTA Arrow Link Styles ['link-style--arrow', 'link-style--down-arrow']
.link-style--arrow a,
.link-style--arrow button,
a.link-style--arrow,
button.link-style--arrow {
  @include link(violet, sm, medium);
  @include link-arrow;

  .dark-mode & {
    @include link-style(white);
  }
}

.link-style--down-arrow a,
.link-style--down-arrow button,
a.link-style--down-arrow,
button.link-style--down-arrow {
  @include link(violet, sm, medium);
  @include link-down-arrow;

  .dark-mode & {
    @include link-style(white);
  }
}

// Link Colors ['primary', 'violet,', 'white']
.link--primary a,
.link--primary button,
a.link--primary,
button.link--primary {
  @include link-style(primary);
}

.link--violet a,
.link--violet button,
a.link--violet,
button.link--violet {
  @include link-style(violet);
}

.link--white a,
.link--white button,
a.link--white,
button.link--white {
  @include link-style(white);
}

// Link Sizes ['default', 'sm', 'xs', 'xxs']
.link--default a,
.link--default button,
a.link--default,
button.link--default {
  @include link-size(default);
}

.link--sm a,
.link--sm button,
a.link--sm,
button.link--sm {
  @include link-size(sm);
}

.link--xs a,
.link--xs button,
a.link--xs,
button.link--xs {
  @include link-size(xs);
}

.link--xxs a,
.link--xxs button,
a.link--xxs,
button.link--xxs {
  @include link-size(xxs);
}
