/* stylelint-disable no-descending-specificity */
// Typography
// Dark Mode styles apply to midnight or catnap backgrounds.
.dark-mode {
  --body-color: var(--white);

  color: var(--body-color);

  &--desktop {
    @include breakpoint(md) {
      --body-color: var(--white);

      color: var(--body-color);
    }
  }
}

// Heading
h1, .h1 {
  line-height: 48px;
  letter-spacing: -1.5px;
  font-size: var(--fs-h1);

  @media all and (min-width ≥ 1024px) {
    line-height: 56px;
  }
}

h2, .h2 {
  line-height: 36px;
  letter-spacing: -1.5px;
  font-size: var(--fs-h2);

  @media all and (min-width ≥ 1024px) {
    line-height: 52px;
  }
}

h3, .h3 {
  line-height: 34px;
  letter-spacing: -1.05px;
  font-size: var(--fs-h3);

  @media all and (min-width ≥ 1024px) {
    line-height: 48px;
    letter-spacing: -1.5px;
  }
}

h4, .h4 {
  line-height: 30px;
  letter-spacing: -1.05px;
  font-size: var(--fs-h4);

  @media all and (min-width ≥ 1024px) {
    line-height: 38px;
    letter-spacing: -1.25px;
  }
}

h5, .h5 {
  line-height: 28px;
  letter-spacing: -1px;
  font-size: var(--fs-h5);

  @media all and (min-width ≥ 1024px) {
    line-height: 34px;
  }
}

h6, .h6 {
  line-height: 26px;
  letter-spacing: -0.5px;
  font-size: var(--fs-h6);

  @media all and (min-width ≥ 1024px) {
    line-height: 28px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--ff-header);
  font-weight: var(--fw-normal);
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: var(--mb-heading);

  p {
    margin: 0;
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  .dark-mode & {
    &:not(.heading--eyebrow) {
      --heading-color: var(--white);
    }
  }

  .dark-mode--desktop & {
    &:not(.heading--eyebrow) {
      @include breakpoint(md) {
        --heading-color: var(--white);

        text-shadow: 0 2px 8px rgb(0 0 0 / 25%);
      }
    }
  }
}

// Used in the WYSIWYG as a subheading style
.heading--subheading {
  color: var(--twilight);
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: var(--ff-utility);
  line-height: initial !important;
  letter-spacing: initial !important;
  font-weight: 500;
}

.heading--secondary {
  --fw-heading: var(--fw-normal);

  color: var(--heading-color);
  font-family: var(--ff-secondary);
  line-height: var(--lh-header);
}

.field--name-field-quote {
  font-family: var(--ff-primary);
  line-height: 30px;
}

// Paragraph
.p1,
.p2,
.p3,
.p4 {
  font-family: var(--ff-utility);
  font-weight: var(--fw-body);
  text-rendering: optimizelegibility;
  margin-top: 0;
  margin-bottom: var(--mb-paragraph);

  strong,
  b {
    font-weight: var(--fw-medium);
  }
}

.p00 {
  font-size: var(--fs-p00);
  line-height: 28px;
}

.p0 {
  font-size: var(--fs-p0);
  line-height: 26px;
}

.p1 {
  font-size: var(--fs-p1);
  line-height: var(--lh-body);
}

.p2 {
  font-size: var(--fs-p2);
  line-height: var(--lh-body);
}

.p3 {
  font-size: var(--fs-p3);
  line-height: 20px;
}

.p4 {
  font-size: var(--fs-p4);
}

.medium {
  --fw-body: var(--fw-medium);

  font-weight: var(--fw-body);
}

.text-center {
  text-align: center;
}

sup {
  color: inherit;
  font-size: 60%;
  font-weight: inherit;
  padding-left: 1px;
  vertical-align: baseline;

  .dark-mode &,
  .text-secondary-white &,
  .color-brand-text-white & {
    color: var(--color-brand-white);
  }

  a,
  .text-formatted & a,
  .cke_editable & a,
  a:has(&),
  .text-formatted a:has(&),
  .cke_editable a:has(&) {
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none !important;

    &:hover {
      color: inherit;
    }
  }

  h1 &,
  h2 &,
  h3 &,
  h4 &,
  .h1 &,
  .h2 &,
  .h3 &,
  .h4 &,
  .text-utility-eyebrow &,
  .paragraph--type--offer &,
  .paragraph--type--countdown &,
  .field--name-field-eyebrow &,
  .cke_editable & {
    vertical-align: super;
  }

  h1:not(.heading--eyebrow) &,
  h2:not(.heading--eyebrow) &,
  h3 &,
  h4 &,
  .h1:not(.heading--eyebrow) &,
  .h2:not(.heading--eyebrow) &,
  .h3 &,
  .h4 &, {
    font-size: 30%;
  }
}

.text-formatted,
.cke_editable {
  --ul-spacing: 1.8125rem 0;
  --ol-spacing: 1rem 0;
  --list-padding: 1.5rem;
  --li-spacing: 1rem;
  --li-fs: var(--fs-p2);

  .color-purple {
    color: var(--color-brand-twilight-500);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  a {
    @include link(medium);

    display: inline-block;
  }

  a, button {
    &[data-micromodal-trigger] {
      margin-left: 0.25rem;
    }
  }

  p {
    margin-top: 0;

    b,
    strong {
      font-weight: var(--fw-medium);
    }
  }

  ul {
    margin: var(--ul-spacing);
  }

  ol {
    margin: var(--ol-spacing);
  }

  ul, ol {
    padding-left: var(--list-padding);

    > li {
      padding-left: 0.5rem;
      font-size: var(--li-fs);

      &::marker {
        font-size: 1rem;
      }

      &:not(:last-of-type) {
        margin-bottom: var(--li-spacing);
      }
    }
  }

  table {
    width: 100%;
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 2rem;

    thead {
      font-size: 1.15rem;
    }

    tr {
      border-bottom: 1px solid #D1CFD7;
    }

    th, td {
      padding: 2rem 0.5rem;
      max-width: 200px;
    }
  }

  @include breakpoint-max(md) {
    .responsive-table {
      overflow-x: scroll;

      th, td {
        min-width: 200px;
      }

      .heading--subheading {
        font-size: 0.85rem;
      }
    }
  }
}

@include breakpoint-max(md) {
  br.desktop {
    display: none;
  }
}

.text-no-wrap {
  display: inline-block;
}

.highlight-round {
  border-radius: 17px;
  display: inline-block;
  line-height: 1;
  padding: 4px;

  @include breakpoint(md) {
    padding: 6px;
  }
}

// "--custom-highlight-color" is set in field--heading-1.html.twig & field--heading-2.html.twig.
.highlight-custom {
  background-color: var(--custom-highlight-color);
}

// Creates a class for each combination in $typography map
// .text-heading-lg
// .text-display-xl
// .text-heading-xl-it
@each $category, $sizes in $typography {
  @each $size, $css in $sizes {
    @if $size != 'default' {
      .text-#{$category}-#{$size},
      .text-#{$category}-#{$size}-it {
        @include text($category, 'default');
        @include text($category, $size);

        // Adjust <sup> font size for larger typography.
        @if ($category != 'body' and
        not ($category == 'heading' and $size == 'sm') and
        not ($category == 'heading' and $size == 'xs') and
        not ($category == 'banner' and $size == 'sm') and
        not ($category == 'banner' and $size == 'xs')) {
          sup {
            font-size: 30%;
            vertical-align: super;
          }
        }
      }

      .text-#{$category}-#{$size}-it {
        font-style: italic;
      }
    }
  }
}

// Body class is the same as "md" just without the key.
.text-body {
  @include text('body', 'md');
}

.text-utility-eyebrow {
  @include text('body', 'md');

  font-weight: var(--fw-medium);
  letter-spacing: torem(1.75px);
}

.text-utility-link {
  @include text('body', 'md');

  font-weight: var(--fw-medium);
  text-decoration: underline;
}

.text-utility-link-sm {
  @include text('body', 'sm');

  text-decoration: underline;
}

.text-utility-link-standalone {
  @include text('body', 'sm');

  font-weight: var(--fw-medium);
  text-decoration: underline;
}

.text-utility-button {
  @include text('body', 'sm');

  font-weight: var(--fw-medium);
}

.text-utility-legal {
  @include text('body', 'md');

  font-size: torem(12px);
  line-height: torem(18px);
}

.text-utility-mega-menu {
  @include text('body', 'md');

  font-family: var(--ff-primary);
  font-size: torem(16px);
  line-height: torem(24px);
  letter-spacing: torem(-1.5px);
}

.text-semibold {
  font-weight: 500 !important;
}
