// Root Css Variables - Colors

// RGB colors map needed for faded or gradient color tokens
$colors-map-rgb: (
  primary: (
    primary: 24 24 49,
    violet: 84 54 204,
    white: 255 255 255,
  ),
);

:root {
  @each $category, $colors in $color-map {
    @each $color-name, $color-value in $colors {
      --colors-#{$category}-#{$color-name}: #{$color-value};
    }
  }

  // Colors to keep
  --color-brand-white-rgb: 255 255 255;
  --color-brand-whitefade-4: rgb(var(--color-brand-white-rgb) / 4%); // new buttons
  --color-brand-whitefade-50: rgb(var(--color-brand-white-rgb) / 50%); // new buttons
  --color-brand-primary-rgb: 24 24 49;
  --color-brand-primaryfade-30: rgb(var(--color-brand-primary-rgb) / 30%); // new buttons
  --color-brand-primaryfade-80: rgb(var(--color-brand-primary-rgb) / 80%); // new buttons
  --color-brand-violet-rgb: 84 54 204;
  --color-brand-violetfade-30: rgb(var(--color-brand-violet-rgb) / 30%); // star rating unfilled color

  /**
   * @tokens Global typography colors
   * @presenter Color
   */
  --body-color: var(--color-brand-primary);
  --heading-color: var(--color-brand-primary);
  --promo-color: var(--color-brand-promo);

  /**
   * @tokens Faded colors
   * @presenter Color
   */

  /**
  * @tokens Gradient colors
  * @presenter Color
  */
  // @todo: change from  --sunrise-gradient
  --colors-utilities-sunrise: linear-gradient(356deg, #FAF9FA 26.72%, #E9E4EE 54.46%, #F6E9E9 74.55%, #F5EFEC 92.45%);

  /**
   * @tokens Border colors
   * @presenter Color
   */
  // @todo: is this variable in Figma? also what about --color-background-dark, light, etc
  --border-divider: var(--color-brand-twilightfade-15); // common border color

  // @todo: do we need this?
  .dark-mode {
    --promo-color: var(--color-brand-lavender-100);
  }
}
