// Root Css Variables - Colors

:root {
  // V3
  --color-brand-twilight-100: #e9e8ef;
  --color-brand-twilight-200: #d2d1df;
  --color-brand-twilight-300: #a6a4c1;
  --color-brand-twilight-400: #35316e;
  --color-brand-twilight-500: #1f1a5e;
  --color-brand-twilight-600: #151526;
  --color-brand-twilight-500-rgb: 31, 26, 94;
  --color-brand-twilightfade-5: rgba(var(--color-brand-twilight-500-rgb), 0.05);
  --color-brand-twilightfade-10: rgba(var(--color-brand-twilight-500-rgb), 0.1);
  --color-brand-twilightfade-15: rgba(
    var(--color-brand-twilight-500-rgb),
    0.15
  );
  --color-brand-twilightfade-20: rgba(var(--color-brand-twilight-500-rgb), 0.2);
  --color-brand-twilightfade-45: rgba(
    var(--color-brand-twilight-500-rgb),
    0.45
  );
  --color-brand-twilightfade-60: rgba(var(--color-brand-twilight-500-rgb), 0.6);
  --color-brand-white: #ffffff;
  --color-brand-white-rgb: 255, 255, 255;
  --color-brand-whitefade-5: rgba(var(--color-brand-white-rgb), 0.05);
  --color-brand-whitefade-10: rgba(var(--color-brand-white-rgb), 0.1);
  --color-brand-whitefade-15: rgba(var(--color-brand-white-rgb), 0.15);
  --color-brand-whitefade-20: rgba(var(--color-brand-white-rgb), 0.2);
  --color-brand-whitefade-45: rgba(var(--color-brand-white-rgb), 0.45);
  --color-brand-whitefade-60: rgba(var(--color-brand-white-rgb), 0.6);

  // Version 2.0 - AKQA COLORS
  --twilight: #1f1a5e;
  --twilight-10: rgb(230 228 237);
  --cat-nap: #8c57b4;
  --daydream: #d7aafa;
  --dreamscape: #e091e6;
  --lavender-skies: #d7c6e6;
  --stardust: #eceae4;
  --clear-skies: #98ded9;
  --golden-hour: #f4b53f;
  --powernap: #d62ee5;
  --rem: #2a62d4;
  --lilac: #efe8f5;
  --light-lilac: #f7f5ff;
  --sandman: #f8f5ef;
  --nocturnal: #6f6990;
  --orchid: #b113c0;

  // Purple
  --purple: var(--twilight);
  --purple-60: #8e80bb;
  --purple-40: #b4aad1;
  --purple-20: #d9d5e8;
  --purple-10: #eceaf4;
  --medium-purple: var(--cat-nap);
  --light-purple: var(--daydream);
  --light-purple-60: var(--daydream);
  --light-purple-50: #cec9f1;
  --light-purple-40: #dbd5f5;
  --light-purple-20: #e4dff7;
  --light-purple-10: #f6f4fc;

  // Periwinkle
  --periwinkle: #6d7fe1;
  --periwinkle-60: #a7b2ed;
  --periwinkle-40: #c5ccf3;
  --periwinkle-20: #e2e5f9;
  --periwinkle-10: #f0f2fc;
  --periwinkle-light: var(--periwinkle-10);

  // Midnight
  --midnight: #190f39;
  --midnight-medium: #341458;
  --midnight-light: #473f61;
  --midnight-60: #756f88;

  // Green
  --green: #0e7065;
  --green-60: #6ea9a3;
  --green-40: #9fc6c1;
  --green-20: #cfe2e0;
  --green-10: #e7f1f0;
  --green-light: var(--green-10);

  // Pink
  --pink: #fec7d2;
  --pink-60: #fedde4;
  --pink-40: #ffe9ed;
  --pink-20: #fff4f6;
  --pink-10: #fff9fb;
  --pink-light: var(--pink-40);

  // Orange
  --orange: #f6b576;
  --orange-60: #f9d0ad;
  --orange-40: #fbe1c8;
  --orange-20: #fdf0e4;
  --orange-10: #fef8f1;
  --orange-light: var(--orange-60);

  // Lavender
  --lavender: #d2adee;
  --lavender-60: #e4cef5;
  --lavender-40: #eddef8;
  --lavender-20: #f6effc;
  --lavender-10: #fbf7fd;

  // Gray
  --gray-10: #f2f2f2;
  --gray-20: #e0e0e0;
  --gray-30: #d9d9d9;
  --gray-40: #aeaeae;

  // Background Colors
  --bg-body: var(--white);
  --bg-purple-60: var(--light-purple-60);
  --bg-purple-50: var(--light-purple-50);
  --bg-purple-40: var(--light-purple-40);
  --bg-purple-20: var(--light-purple-20);
  --bg-purple-10: var(--light-purple-10);
  --bg-orange: var(--orange-20);
  --bg-aqua: var(--aqua-light-40);
  --bg-pink: var(--pink-light);
  --bg-green: var(--green-10);
  --bg-periwinkle: var(--periwinkle-10);
  --bg-yellow: var(--yellow-light);

  // Background Gradients
  --bg-gradient-purple: linear-gradient(
    180deg,
    var(--light-purple-20) 0%,
    var(--white) 100%
  );
  --bg-gradient-pink: linear-gradient(
    180deg,
    var(--pink-light) 0%,
    var(--white) 100%
  );
  --bg-gradient-orange: linear-gradient(
    180deg,
    var(--orange-20) 0%,
    var(--white) 100%
  );
  --bg-gradient-aqua: linear-gradient(
    180deg,
    var(--aqua-light-40) 0%,
    var(--white) 100%
  );
  --bg-gradient-green: linear-gradient(
    180deg,
    var(--green-light) 0%,
    var(--white) 100%
  );
  --bg-gradient-magic-hour: linear-gradient(
    104deg,
    var(--light-purple-60) 3.4%,
    var(--pink) 94%
  );
  --scrim-gradient-dark: linear-gradient(
    180deg,
    rgb(var(--scrim-dark) 0) 0%,
    rgb(var(--scrim-dark) 0.6) 110.2%
  );
  --scrim-gradient-light: linear-gradient(
    180deg,
    rgb(var(--scrim-light) 0) 0%,
    rgb(var(--scrim-light) 0.6) 110.2%
  );
  --active-bg-primary: var(--twilight);
  --border-gray: var(--border-divider);

  // Borders
  --border-purple: #1f1a5e73;

  // Cart & Checkout
  --price-gray: #c2bfc7;
  --black-title: #3f3c44;

  // Common Colors
  --white: #fff;
  --black: #000;
  --red: #d43900;
  --red-light: var(--coral);
  --light-red-utility: #fef1f0;
  --gray-utility: #d1cfd7;
  --light-gray: #f5f5f5;
  --green-utility: #008746;
  --red-utility: var(--red);
  --body-color: var(--twilight);
  --heading-color: var(--twilight);
  --promo-color: var(--orchid);
  --scrim-dark: 25, 15, 57;
  --scrim-light: 96, 92, 102;
  --card-gray: #f9f8f9;
  --yellow-light: #fff0cd;

  // Dividers
  --border-divider: #dbdae5;
  --border-divider-dark: rgb(255 255 255 / 30%);

  .dark-mode {
    --promo-color: var(--lilac);
  }
}
