:root {
  // Font Families
  --ff-primary: 'Galaxie Copernicus', georgia, serif;
  --ff-secondary: 'Graphik', arial, sans-serif;
  --ff-utility: 'Graphik', arial, sans-serif;
  --ff-header: var(--ff-primary);
  --ff-body: var(--ff-utility);

  // Font Weight
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-heading: 500;
  --fw-body: var(--fw-normal);

  // Line Height
  --lh-body: 1.5;

  // Mobile and Tablet.
  --fs-h1: 2rem;     // 32px
  --fs-h2: 1.75rem;  // 28px
  --fs-h3: 1.625rem; // 26px
  --fs-h4: 1.5rem;   // 24px
  --fs-h5: 1.25rem;  // 20px
  --fs-h6: 1.125rem; // 18px

  // Body Font Size
  --fs-p00: 1.25rem; // 20px
  --fs-p0: 1.125rem; // 18px
  --fs-p1: 1rem;     // 16px
  --fs-p2: 1rem;     // 16px
  --fs-p3: 0.875rem;  // 14px
  --fs-p4: 0.75rem;  // 12px
}

//Tablet Overrides
@media all and (width >= 768px) {
  :root {
    --fs-p1: 1.25em;
  }
}

// Desktop Overrides
@media all and (width >= 1024px) {
  :root {
    --fs-h1: 3rem;     // 48px
    --fs-h2: 2.5rem;   // 40px
    --fs-h3: 2.25rem;  // 36px
    --fs-h4: 1.75rem;  // 28px
    --fs-h5: 1.5rem;   // 24px
    --fs-h6: 1.25rem;  // 20px
  }
}


$typography: (
  heading-display: (
    font-family: var(--ff-header),
    font-weight: var(--fw-normal),
    font-size: 32px,
    line-height: 48px,
    letter-spacing: -1.5px,
    font-size--desktop: 48px,
    line-height--desktop: 56px,
  ),
  heading-xl: (
    font-family: var(--ff-header),
    font-weight: var(--fw-normal),
    font-size: 28px,
    line-height: 36px,
    letter-spacing: -1.5px,
    font-size--desktop: 40px,
    line-height--desktop: 52px,
  ),
  body-xl: (
    font-family: var(--ff-body),
    font-weight: var(--fw-normal),
    font-size: 20px,
    line-height: 28px,
  ),
);

@mixin text($token-type) {
  $token: extend-in-map($typography, $token-type);
  font-family: key($token, font-family);
  font-weight: key($token, font-family);
  font-size: key($token, font-family);
  line-height: key($token, font-family);
  @if map-has-key($token, letter-spacing) {
    letter-spacing: key($token, letter-spacing);
  }
  @if map-has-key($token, font-size--desktop) {
    @media all and (min-width: 1024px) {
      font-size: key($token, font-size--desktop);
    }
  }
  @if map-has-key($token, line-height--desktop) {
    @media all and (min-width: 1024px) {
      font-size: key($token, line-height--desktop);
    }
  }
}

// Creates a class for each key in $typography map
@each $key, $css in $typography {
  .text-#{$key} {
    @include text($key);
  }
}
