@use "sass:map";

////
/// Icons
/// @group utility
////

$icon-font-name: 'icomoon' !default;
$icon-font-dir: '../assets/fonts/icomoon/fonts/' !default;
$icons-enabled: false;

@mixin themekit-icons() {

  %icon-base {
    /* stylelint-disable font-family-no-missing-generic-family-keyword */
    font-family: $icon-font-name;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;

    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal;
    text-transform: none;

    // Ensure consistent height
    line-height: 1;
  }

  $icons-enabled: true !global;
}


$icons: () !default;

/// Add a font icon. This must be used in a before or after pseudo class
@mixin icon($icon, $replace: false, $map: $icons) {
  @if  map.has-key($map, $icon) {
    $icon: map.get($map, $icon);
  }

  @if  $replace == false {
    @extend %icon-base;
  }

  content: '#{$icon}';
}

/// Add an icon to the before pseudo class
@mixin icon-before($icon, $replace: false) {
  &::before {
    @include icon($icon, $replace);
    @content;
  }
}

/// Add an icon to the after pseudo class
@mixin icon-after($icon, $replace: false) {
  &::after {
    @include icon($icon, $replace);
    @content;
  }
}

/// Replace text with icon
@mixin replace-text-with-icon($icon, $font-size: $global-font-size) {
  font-size: 0;
  text-decoration: none;

  @include icon-before($icon) {
    font-size: $font-size;
    @content;
  }
}

// Info Icon.
// Pass in dark for a white fill.
@mixin icon-info-circle($theme: default) {
  $fill: #1F1A5E;

  @if $theme == dark {
    $fill: #fff;
  }

  &::after {
    $svg: '<svg width="15" height="14" viewBox="0 0 15 14" fill="#{$fill}" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 14C11.366 14 14.5 10.866 14.5 7C14.5 3.13401 11.366 0 7.5 0C3.63401 0 0.5 3.13401 0.5 7C0.5 10.866 3.63401 14 7.5 14ZM13.5 7C13.5 10.3137 10.8137 13 7.5 13C4.18629 13 1.5 10.3137 1.5 7C1.5 3.68629 4.18629 1 7.5 1C10.8137 1 13.5 3.68629 13.5 7ZM8.1445 6.17309C8.01716 6.02479 7.83252 5.95064 7.59058 5.95064C7.23403 5.95064 6.8934 6.07315 6.56869 6.31816C6.24398 6.56317 5.98294 6.89523 5.78556 7.31433H6.23443C6.38087 7.08866 6.50184 6.92747 6.59734 6.83075C6.69921 6.73404 6.80108 6.68568 6.90295 6.68568C6.94115 6.68568 6.97617 6.7018 7.008 6.73404C7.03984 6.75983 7.05576 6.80174 7.05576 6.85977C7.05576 6.91135 7.04621 6.96615 7.02711 7.02418C7.008 7.07577 6.98254 7.14024 6.9507 7.21762L6.15802 9.297C6.13256 9.36148 6.10709 9.43885 6.08162 9.52912C6.06252 9.61939 6.05297 9.70966 6.05297 9.79992C6.05297 9.98691 6.11346 10.1384 6.23443 10.2545C6.3554 10.3705 6.53049 10.4286 6.7597 10.4286C7.47916 10.4286 8.12539 9.96112 8.69841 9.0262H8.2782C8.24 9.08423 8.18906 9.14871 8.12539 9.21963C8.06809 9.28411 8.00442 9.34858 7.93439 9.41306C7.87072 9.47109 7.80705 9.52267 7.74338 9.56781C7.67971 9.60649 7.62559 9.62584 7.58103 9.62584C7.48552 9.62584 7.43777 9.57103 7.43777 9.46142C7.43777 9.35826 7.48234 9.19706 7.57148 8.97784L8.1636 7.44973C8.24 7.2563 8.28775 7.108 8.30685 7.00484C8.32595 6.90168 8.3355 6.81141 8.3355 6.73404C8.3355 6.50837 8.27183 6.32138 8.1445 6.17309ZM9.00403 3.78421C8.86395 3.64236 8.69523 3.57143 8.49786 3.57143C8.30048 3.57143 8.13176 3.64236 7.99169 3.78421C7.85162 3.92606 7.78158 4.09692 7.78158 4.2968C7.78158 4.49668 7.85162 4.66754 7.99169 4.80939C8.13176 4.95124 8.30048 5.02217 8.49786 5.02217C8.69523 5.02217 8.86395 4.95124 9.00403 4.80939C9.1441 4.66754 9.21413 4.49668 9.21413 4.2968C9.21413 4.09692 9.1441 3.92606 9.00403 3.78421Z"/></svg>';

    background-image: svg-url($svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    height: 0.875rem;
    margin-left: 0.25rem;
    width: 0.875rem;
  }
}
