////
/// Icons
/// @group utility
////

$icon-font-name: 'icomoon' !default;
$icon-font-dir: '../assets/fonts/icomoon/fonts/' !default;
$icons-enabled: false;

@mixin themekit-icons() {

  %icon-base {
    /* stylelint-disable font-family-no-missing-generic-family-keyword */
    font-family: $icon-font-name;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;

    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal;
    text-transform: none;

    // Ensure consistent height
    line-height: 1;
  }

  $icons-enabled: true !global;
}


$icons: () !default;

/// Add a font icon. This must be used in a before or after pseudo class
@mixin icon($icon, $replace: false, $map: $icons) {
  @if  map-has-key($map, $icon) {
    $icon: map.get($map, $icon);
  }

  @if  $replace == false {
    @extend %icon-base;
  }

  content: '#{$icon}';
}

/// Add an icon to the before pseudo class
@mixin icon-before($icon, $replace: false) {
  &::before {
    @include icon($icon, $replace);
    @content;
  }
}

/// Add an icon to the after pseudo class
@mixin icon-after($icon, $replace: false) {
  &::after {
    @include icon($icon, $replace);
    @content;
  }
}

/// Replace text with icon
@mixin replace-text-with-icon($icon, $font-size: $global-font-size) {
  font: 0/0 transparent;
  text-decoration: none;

  @include icon-before($icon) {
    font-size: $font-size;
    @content;
  }
}

@mixin icon-zoom-before() {
  border-radius: 50%;
  border: 1px solid var(--border-gray);
  font: 0/0 transparent;
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;

  &::before {
    $zoom-svg: '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.32155 0C6.6757 0 5.06682 0.488051 3.69835 1.40243C2.32988 2.31682 1.26328 3.61647 0.633444 5.13703C0.00360555 6.65759 -0.161189 8.33078 0.1599 9.945C0.480989 11.5592 1.27354 13.042 2.43733 14.2058C3.60112 15.3696 5.08388 16.1621 6.6981 16.4832C8.31232 16.8043 9.98551 16.6395 11.5061 16.0097C12.2809 15.6887 12.9983 15.2544 13.6367 14.7245L18.6866 19.7745C18.987 20.0749 19.4741 20.0749 19.7745 19.7745C20.0749 19.4741 20.0749 18.987 19.7745 18.6866L14.7245 13.6367C14.9078 13.4158 15.0802 13.1849 15.2407 12.9448C16.155 11.5763 16.6431 9.96739 16.6431 8.32155V8.3215C16.643 6.11454 15.7662 3.99802 14.2056 2.43747C12.6451 0.876913 10.5286 0.000140482 8.3216 0L8.32155 0.769223V0ZM13.1178 3.52531C11.8457 2.25326 10.1205 1.53857 8.32155 1.53845L15.1047 8.32155C15.1045 6.5226 14.3898 4.79736 13.1178 3.52531ZM4.55306 2.6816C5.66852 1.93628 6.97995 1.53846 8.3215 1.53845L15.1047 8.3216C15.1046 9.66315 14.7068 10.9746 13.9615 12.09C13.2162 13.2055 12.1568 14.0749 10.9173 14.5883C9.67788 15.1017 8.31403 15.236 6.99823 14.9743C5.68244 14.7126 4.47381 14.0666 3.52517 13.1179C2.57654 12.1693 1.93051 10.9607 1.66878 9.64487C1.40706 8.32907 1.54139 6.96522 2.05478 5.72577C2.56818 4.48632 3.43759 3.42694 4.55306 2.6816Z" fill="#432B8D"/><line x1="11.5" y1="8.5" x2="5.5" y2="8.5" stroke="#432B8D" stroke-linecap="round"/><line x1="8.49902" y1="5.5" x2="8.49902" y2="11.5" stroke="#432B8D" stroke-linecap="round"/></svg>';

    background-image: svg-url($zoom-svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }
}

// Icon Utility Classes '.icon-circle'
@each $key, $value in $icons {
  .icon-before--#{$key} {
    @include icon-before($key);
  }
  .icon-after--#{$key} {
    @include icon-after($key);
  }
}

// Info Icons.
@mixin icon-info-circle() {
  &::after {
    background-image: url('../../../assets/images/svg/info-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: inline-block;
    height: 0.875rem;
    margin-left: 0.25rem;
    width: 0.875rem;
  }
}

@mixin icon-info-white-circle() {
  &::after {
    background-image: url('../../../assets/images/svg/white-info-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: inline-block;
    height: 0.875rem;
    margin-left: 0.25rem;
    width: 0.875rem;
  }
}

@mixin icon-info-before() {
  font: 0/0 transparent;
  border-bottom: none !important;

  &::before {
    background-image: url('../../../assets/images/svg/info-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: inline-block;
    height: 0.875rem;
    margin-left: 0.25rem;
    width: 0.875rem;
  }
}
