////
/// Mixin - Links
////

/// Standard link mixin
/// @param {String} $color - link color ['primary', 'violet,', 'white', 'promo']
/// @param {String} $size - link size ['md', 'sm', 'xs', 'xxs']
/// @param {String} $font-weight - link font weight ['medium', 'normal']
// ex:
//   @include link(primary, md);
//   @include link(violet, sm, normal);
@mixin link($color: primary, $size: md, $font-weight: medium) {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-weight: var(--fw-#{$font-weight});
  justify-content: center;
  letter-spacing: inherit;
  text-decoration: underline;
  text-underline-offset: 25%;
  width: fit-content;

  @include link-size($size);
  @include link-style($color);

  // Disabled
  &:disabled,
  &.btn--disabled {
    pointer-events: none;
  }
}

/// Mixin to change the link style.
/// @param {String} $link-key - the key in the $links map to use from config
//      ['primary' 'violet', 'white', 'promo']
@mixin link-style($link-key) {
  $link: map.get($links, $link-key);

  @each $prop, $value in $link {
    @if $prop != 'selectors' {
      #{$prop}: #{$value};
    }
  }

  @if map.has-key($link, 'selectors') {
    $selectors: map.get($link, 'selectors');

    @each $selector, $selector_props in $selectors {
      &:#{$selector} {
        @each $prop, $value in $selector_props {
          #{$prop}: #{$value};
        }
      }

      // Disabled class
      @if $selector == 'disabled' {
        &.btn--disabled {
          @each $prop, $value in $selector_props {
            #{$prop}: #{$value};
          }
        }
      }
    }
  }
}

/// Mixin to change the link size.
/// @param {String} $size - link size ['md', 'sm', 'xs', 'xxs']
@mixin link-size($size) {
  @include text(body, $size);
}
