////
/// Mixin - Links
////

/// Standard link mixin
/// @param {String} $color - link color ['primary', 'violet,', 'white', 'promo', 'promo-alt', 'eclipse']
/// @param {String} $size - link size ['default', 'sm', 'xs', 'xxs']
/// @param {String} $font-weight - link font weight ['medium', 'normal']
// ex:
//   @include link(primary, default);
//   @include link(violet, sm, normal);
@mixin link($color: primary, $size: default, $font-weight: medium) {
  --link-color: var(--color-brand-#{$color});
  --link-font-weight: var(--fw-#{$font-weight});

  color: var(--link-color);
  cursor: pointer;
  font-weight: var(--link-font-weight);
  letter-spacing: inherit;
  text-decoration: underline;
  text-underline-offset: 25%;

  @if $size == 'default' {
    @include text(utility, link);
  } @else {
    @include text(utility, 'link-#{$size}');
  }
}

/// Mixin to change the link style.
/// @param {String} $color - link color ['primary', 'violet,', 'white', 'promo', 'promo-alt', 'eclipse']
@mixin link-style($color: primary) {
  --link-color: var(--color-brand-#{$color});
}

/// Mixin to change the link size.
/// @param {String} $size - link size ['default', 'sm', 'xs', 'xxs']
@mixin link-size($size: default) {
  @if $size == 'default' {
    @include text(utility, link);
  } @else {
    @include text(utility, 'link-#{$size}');
  }
}

/// Link arrow mixin
@mixin link-arrow {
  text-decoration: none;
  transition: all var(--trt-4) var(--trtf-a2);

  &::after {
    bottom: 1px;
    color: inherit;
    font-size: rem-calc(10);
    font-weight: var(--fw-medium);
    padding-left: 0.5rem;
    padding-right: 1rem;
    position: relative;
    vertical-align: middle;
  }

  @include icon-after(arrow);
}

/// Link down arrow mixin
@mixin link-down-arrow {
  text-decoration: none;

  &::after {
    color: inherit;
    font-size: rem-calc(10);
    font-weight: var(--fw-bold);
    margin: -0.25rem -0.5rem 0 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    transform: rotate(90deg);
    vertical-align: middle;
  }

  @include icon-after(arrow-small);
}
