/**
 * Design system colors from Figma.
 *
 * A nested array organized by category and color-name.
 */

// Used in variables/colors to generate a token for each color.
//   --colors-#{category}-#{color-name}
// Used in components/color to generate text and bg color classes.
//   .text--colors-#{category}-#{color-name}
//   .bg--colors-#{category}-#{color-name}
$colors-map: (
  core: (
    primary: #181831, // todo: remove duplicate 'midnight'
    luna: #4E4766,
    violet: #5436CC,
    promo: #CA2B16,
    twilight: #1F1A5E, // todo: change from twilight-500
    dark-navy: #0F0F3A,
    yellow: #FFCD6F,
    petal: #FFC3D1,
    daydream: #FEE5FF,
    cloud: #D0D9F8,
    periwinkle: #C4AFFE, // @todo: okay with replacing old color?
    lilac: #F0EBFF,
    sandman: #F8F5EF,
    white: #FFF,
  ),
  utilities: (
    mist: #C8C7DD,
    mist-30: #E7E6F7,
    grey-300: #E0E0E0,
    grey-400: #C0C0C0,
    grey-500: #AEAEAE,
    midnight-70: #58566A,
    midnight-90: #2F2F46,
    error: #AE0A00,
    focus: #4B80EC,
  ),
);

// Background colors for layout builder sections.
// Used in purple-drupal to generate section bg color classes.
//   .bg-theme--#{color-name}
$theme-bg-colors: (
  "dark-navy": var(--colors-core-dark-navy),
  "daydream-light": var(--colors-core-daydream), // @todo: change to daydream
  "lilac": var(--colors-core-lilac),
  "petal": var(--colors-core-petal),
  "promo": var(--colors-core-promo),
  "sandman": var(--colors-core-sandman),
  "violet": var(--colors-core-violet),
  "white": var(--colors-core-white),
  "yellow": var(--colors-core-yellow),
  "light-purple-20": var(--color-brand-light-purple-20), // @todo: do we need? thank you bg on order confirmation
);

// Layout Builder + Editorial Carousel Hero (2021) Solid Background Colors
// @todo: check if any of these colors are in the DB + combine arrays
$theme-bg-colors: (
  "light-purple-60": var(--color-brand-lavender-400),
  "light-purple-50": var(--color-brand-light-purple-50),
  "light-purple-40": var(--color-brand-light-purple-40),
  "light-purple-20": var(--color-brand-light-purple-20),
  "light-purple-10": var(--color-brand-light-purple-10),
  "light-purple": var(--color-brand-lavender-400),
  "purple-40": var(--purple-40),
  "purple-10": var(--purple-10),
  "pink-40": var(--pink-40),
  "midnight": var(--colors-core-primary),
  "catnap": var(--color-brand-lavender-500),
  "lavender-skies": var(--color-brand-lavender-300),
  "stardust": var(--color-brand-stardust),
  "lavender-100": var(--color-brand-lavender-100),
  "lavender-300": var(--color-brand-lavender-300),
  "lavender-400": var(--color-brand-lavender-400),
  "lavender-500": var(--color-brand-lavender-500),
  "medium-purple": var(--color-brand-medium-purple),
);