////
/// General theme configuration.
/// @group Configuration
////

/// Configuration for Drupal Admin tabs.
$drupal-tabs: (
  wrap: (
    background: #fafafa,
    border: #efefef,
  ),
  link: (
    color: #251923,
    background: #efefef,
    hover-color: #fff,
    hover-background: #251923,
  ),
  alt-colors: #b6c4c5 #575642 #4c4650 #251923,
);
$global-font-size: 100%;

// Drupal colors
$errorbg: #c74e4e;
$warningbg: #d28712;
$statusokbg: #2ca20d;

/// z-index organization.
/// See links below for more information.
///
/// @link https://css-tricks.com/handling-z-index/
/// @link http://www.sitepoint.com/using-sass-maps/
$z-layers: (
  skip-link: 8000,
  ajax-throbber: 7000,
  debug: 1000,
  above: 1,
  default: 0,
  under: -1,
  bottomless-pit: -9999,
  // example nested z-index.
  media:
    (
      inset: 1,
      bg: 0,
      controls: 4,
      link: 1,
    ),
  card: (
    bg: 0,
    bg-show: 2,
    image: 1,
    color: 2,
    link: 3,
    link-mobile: -1,
    badge: 4,
    arrows: 5,
  ),
  hero: (
    media: 0,
    scrim: 1,
    content: 2,
    controls: 3,
  ),
);

/// Button config
$buttons: (
  solid-dark: (
    backdrop-filter: none,
    background: var(--colors-core-primary),
    border-color: var(--colors-core-primary),
    color: var(--colors-core-white),
    selectors: (
      hover: (
        background: var(--colors-utilities-midnight-70),
        border-color: var(--colors-utilities-midnight-70),
        color: var(--colors-core-white),
      ),
      active: (
        background: var(--colors-utilities-midnight-90),
        border-color: var(--colors-utilities-midnight-90),
        color: var(--colors-core-white),
      ),
      focus: (
        background: var(--colors-utilities-midnight-90),
        border-color: var(--colors-utilities-focus),
        color: var(--colors-core-white),
      ),
      disabled: (
        background: var(--colors-utilities-grey-300),
        border-color: var(--colors-utilities-grey-300),
        color: var(--colors-utilities-grey-500),
      ),
    ),
  ),
  solid-light: (
    backdrop-filter: none,
    background: var(--colors-core-white),
    border-color: var(--colors-core-white),
    color: var(--colors-core-primary),
    selectors: (
      hover: (
        background: var(--colors-utilities-mist-30),
        border-color: var(--colors-utilities-mist-30),
        color: var(--colors-core-primary),
      ),
      active: (
        background: var(--colors-utilities-mist),
        border-color: var(--colors-utilities-mist),
        color: var(--colors-core-primary),
      ),
      focus: (
        background: var(--colors-utilities-mist),
        border-color: var(--colors-utilities-focus),
        color: var(--colors-core-primary),
      ),
      disabled: (
        background: transparent,
        border-color: var(--colors-utilities-grey-400),
        color: var(--colors-utilities-grey-400),
      ),
    ),
  ),
  outline-dark: (
    backdrop-filter: blur(5px),
    background: var(--colors-core-whitefade-4),
    border-color: var(--colors-core-primary),
    color: var(--colors-core-primary),
    selectors: (
      hover: (
        background: var(--colors-utilities-midnight-70),
        border-color: var(--colors-utilities-midnight-70),
        color: var(--colors-core-white),
      ),
      active: (
        background: var(--colors-utilities-midnight-90),
        border-color: var(--colors-utilities-midnight-90),
        color: var(--colors-core-white),
      ),
      focus: (
        background: var(--colors-utilities-midnight-90),
        border-color: var(--colors-utilities-focus),
        color: var(--colors-core-white),
      ),
      disabled: (
        background: transparent,
        border-color: var(--colors-utilities-grey-400),
        color: var(--colors-utilities-grey-400),
      ),
    ),
  ),
  outline-light: (
    backdrop-filter: blur(5px),
    background: var(--colors-core-whitefade-4),
    border-color: var(--colors-core-whitefade-50),
    color: var(--colors-core-white),
    selectors: (
      hover: (
        background: var(--colors-core-primaryfade-30),
        border-color: var(--colors-core-primaryfade-30),
        color: var(--colors-core-white),
      ),
      active: (
        background: var(--colors-core-primaryfade-80),
        border-color: var(--colors-core-primaryfade-30),
        color: var(--colors-core-white),
      ),
      focus: (
        background: var(--colors-core-primaryfade-80),
        border-color: var(--colors-utilities-focus),
        color: var(--colors-core-white),
      ),
      disabled: (
        background: transparent,
        border-color: var(--colors-utilities-grey-400),
        color: var(--colors-utilities-grey-400),
      ),
    ),
  ),
  promo: (
    backdrop-filter: none,
    background: transparent,
    border-color: var(--colors-core-promo),
    color: var(--colors-core-promo),
    selectors: (
      hover: (
        background: var(--colors-core-promo),
        border-color: var(--colors-core-promo),
        color: var(--colors-core-white),
      ),
      active: (
        background: var(--colors-core-promo),
        border-color: var(--colors-core-promo),
        color: var(--colors-core-white),
      ),
      focus: (
        background: var(--colors-core-promo),
        border-color: var(--colors-utilities-focus),
        color: var(--colors-core-white),
      ),
      disabled: (
        background: transparent,
        border-color: var(--colors-utilities-grey-400),
        color: var(--colors-utilities-grey-400),
      ),
    ),
  ),
);

/// Link config
$links: (
  primary: (
    color: var(--colors-core-primary),
    selectors: (
      hover: (
        color: var(--colors-utilities-midnight-70),
      ),
      active: (
        color: var(--colors-utilities-midnight-70),
      ),
      focus: (
        color: var(--colors-utilities-midnight-70),
      ),
      disabled: (
        color: var(--colors-utilities-grey-500),
      ),
    ),
  ),
  violet: (
    color: var(--colors-core-violet),
    selectors: (
      hover: (
        color: var(--colors-utilities-midnight-70),
      ),
      active: (
        color: var(--colors-utilities-midnight-70),
      ),
      focus: (
        color: var(--colors-utilities-midnight-70),
      ),
      disabled: (
        color: var(--colors-utilities-grey-500),
      ),
    ),
  ),
  white: (
    color: var(--colors-core-white),
    selectors: (
      hover: (
        color: var(--colors-core-white),
      ),
      active: (
        color: var(--colors-core-white),
      ),
      focus: (
        color: var(--colors-core-white),
      ),
      disabled: (
        color: var(--colors-utilities-grey-500),
      ),
    ),
  ),
  promo: (
    color: var(--colors-core-promo),
    selectors: (
      hover: (
        color: var(--colors-core-promo),
      ),
      active: (
        color: var(--colors-core-promo),
      ),
      focus: (
        color: var(--colors-core-promo),
      ),
      disabled: (
        color: var(--colors-utilities-grey-500),
      ),
    ),
  ),
);

// Grid Settings
$grid-gutter: var(--grid-gutter);
$grid-gap: var(--grid-gap);
$grid-column-gutter: (
  gutter: $grid-gutter,
);

// Space between the content and edge of the screen
$screen-edge-gutter: (
  xs-screen: $grid-gutter,
  md-screen: $grid-gutter,
);

// Icons
$icons: (
  arrow: "\e916",
  arrow-small: "\e917",
  check: "\e905",
  check-circle: "\e905",
  clone: "\e900",
  down: "\e911",
  error: "\e000",
  edit: "\e901",
  gear: "\e903",
  info: "\e88e",
  minus: "\e90b",
  minus-circle: "\e90a",
  minus-circle-thin: "\e91f",
  pause: "\e913",
  pin: "\e91d",
  play: "\e914",
  plus: "\e90d",
  plus-circle: "\e90c",
  plus-circle-thin: "\e91e",
  right: "\e90f",
  search: "\e915",
  settings: "\e8b8",
  star: "\e918",
  star-outline: "\e919",
  star-half: "\e91a",
  trash: "\e902",
  up: "\e90e",
  verified: "\e91b",
  view: "\e904",
  facebook: '\ea90',
  twitter: '\ea96',
  linkedin: '\eaca',
  share-link: '\e920',
);

// @todo: DCP-5182 to change 'lgx -> xl', 'xl -> xxl'.
// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  ml: 900px,
  lg: 1025px,
  lgx: 1200px,
  xl: 1440px,
);

// Keep these layout variables matching css variables.
// Css variables not compatible with mixins.
$cw-default: 90rem; // 1440px
$cw-large: 82.8rem; // 1324.8px
$cw-medium: 61.2rem; // 980px
$cw-narrow: 46.8rem; // 748.8px
$cw-blog: 54rem; // 864px

$grid-margin-gutters: (
  xs: 0.9375rem,
  sm: 1.6rem,
  md: 1.92rem,
  lg: 2.56rem,
  xl: 3.6rem,
);
$mobile-grid-margin-gutters: (
  xs: 0.9375rem,
  sm: 1.6rem,
);
$cart-grid-margin-gutters: (
  xs: 0.9375rem,
  sm: 1.6rem,
  md: 1.92rem,
  lg: 2.56rem,
  xl: 3rem,
);

/// Layouts
$layouts: (
  full: (
    width: 100%,
    gutters: $grid-margin-gutters,
  ),
  default: (
    width: $cw-default,
    gutters: $grid-margin-gutters,
  ),
  blog: (
    width: $cw-blog,
    gutters: $grid-margin-gutters,
  ),
  narrow: (
    width: $cw-narrow,
    gutters: $grid-margin-gutters,
  ),
  medium: (
    width: $cw-medium,
    gutters: $grid-margin-gutters,
  ),
  cart: (
    width: $cw-default,
    gutters: $cart-grid-margin-gutters,
  ),
  large: (
    width: $cw-large,
    gutters: $grid-margin-gutters,
  ),
  section-intro: (
    width: 800px,
    gutters: $grid-margin-gutters,
  )
);

/// Store groups of commonly used selectors
$selector-groups: (
  form-inputs: (
    text: "[type='text']",
    password: "[type='password']",
    date: "[type='date']",
    datetime: "[type='datetime']",
    datetime-local: "[type='datetime-local']",
    month: "[type='month']",
    week: "[type='week']",
    email: "[type='email']",
    number: "[type='number']",
    search: "[type='search']",
    tel: "[type='tel']",
    time: "[type='time']",
    url: "[type='url']",
    color: "[type='color']",
    textarea: "textarea"
  ),
  headers: (
    h1: 'h1',
    h2: 'h2',
    h3: 'h3',
    h4: 'h4',
    h5: 'h5',
    h6: 'h6'
  ),
  buttons: (
    input: '[type="button"]',
    submit: '[type="submit"]',
    button: 'button'
  ),
  body-text: (
    p: 'p',
    ul: 'ul',
    ol: 'ol',
    div: 'div'
  ),
  active: (
    hover: "&:hover",
    focus: "&:focus",
    active: "&:active"
  ),
  hover-active: (
    hover: "&:hover",
    active: "&:active"
  )
);
