////
/// Fonts
////

// Galaxie Copernicus Font
$galaxie-font-name: 'Galaxie Copernicus';
$galaxie-font-dir: 'https://purple.com/themes/custom/themekit/assets/fonts/Galaxie-Copernicus/';

@font-face {
  font-family: $galaxie-font-name;
  src: url($galaxie-font-dir + 'GalaxieCopernicus-Book.eot');
  src: url($galaxie-font-dir + 'GalaxieCopernicus-Book.eot?#iefix') format('embedded-opentype'),
       url($galaxie-font-dir + 'GalaxieCopernicus-Book.woff2') format('woff2'),
       url($galaxie-font-dir + 'GalaxieCopernicus-Book.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: $galaxie-font-name;
  src: url($galaxie-font-dir + 'GalaxieCopernicus-Semibold.woff2') format('woff2'),
       url($galaxie-font-dir + 'GalaxieCopernicus-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: $galaxie-font-name;
  src: url($galaxie-font-dir + 'GalaxieCopernicus-Bold.eot');
  src: url($galaxie-font-dir + 'GalaxieCopernicus-Bold.eot?#iefix') format('embedded-opentype'),
       url($galaxie-font-dir + 'GalaxieCopernicus-Bold.woff2') format('woff2'),
       url($galaxie-font-dir + 'GalaxieCopernicus-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: $galaxie-font-name;
  src: url($galaxie-font-dir + 'GalaxieCopernicus-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $galaxie-font-name;
  src: url($galaxie-font-dir + 'GalaxieCopernicus-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $galaxie-font-name;
  src: url($galaxie-font-dir + 'GalaxieCopernicus-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Graphik Font
$graphik-font-name: 'Graphik';
$graphik-font-dir: 'https://purple.com/themes/custom/themekit/assets/fonts/Graphik/';

@font-face {
  font-family: $graphik-font-name;
  src: url($graphik-font-dir + 'GraphikRegular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: $graphik-font-name;
  src: url($graphik-font-dir + 'GraphikMedium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

// Icon Font
$icon-font-name: 'icomoon';
$icon-font-dir: 'https://purple.com/themes/custom/themekit/assets/fonts/icomoon/fonts/';

@font-face {
  font-family: $icon-font-name;
  src: url($icon-font-dir + $icon-font-name + '.eot?x16ztg');
  src: url($icon-font-dir + $icon-font-name + '.eot?x16ztg#iefix') format('embedded-opentype'),
  url($icon-font-dir + $icon-font-name + '.woff?x16ztg') format('woff'),
  url($icon-font-dir + $icon-font-name + '.ttf?x16ztg') format('truetype'),
  url($icon-font-dir + $icon-font-name + '.svg?x16ztg#3xl') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
