/**
 * Convert px to rem.
 */

@function torem($value) {
  $rem-value: calc($value / 16) + rem;

  @return $rem-value;
}

/**
 * Typography list from Figma.
 *
 * A nested array by type and size. There can be a "default" size which will be
 * applied to all sizes.
 */

$typography: (
  display: (
    default: (
      font-family: var(--ff-header),
    ),
    italic: (
      font-family: var(--ff-italic),
      font-style: italic,
      font-weight: var(--fw-normal),
    ),
    xl: (
      font-size: torem(68),
      font-weight: var(--fw-light),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    lg: (
      font-size: torem(64),
      font-weight: var(--fw-light),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    md: (
      font-size: torem(54),
      font-weight: var(--fw-light),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    sm: (
      font-size: torem(48),
      font-weight: var(--fw-light),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    xs: (
      font-size: torem(44),
      font-weight: var(--fw-light),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    xxs: (
      font-size: torem(40),
      font-weight: var(--fw-light),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
  ),
  heading: (
    default: (
      font-family: var(--ff-header),
    ),
    italic: (
      font-family: var(--ff-italic),
      font-style: italic,
    ),
    xl: (
      font-size: torem(36),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    lg: (
      font-size: torem(32),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    md: (
      font-size: torem(28),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    sm: (
      font-size: torem(24),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    xs: (
      font-size: torem(21),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
    xxs: (
      font-size: torem(20),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
    ),
  ),
  body: (
    default: (
      font-family: var(--ff-body),
    ),
    italic: (
      font-family: var(--ff-italic),
      font-style: italic,
      letter-spacing: -0.015em,
    ),
    xxl: (
      font-size: torem(26),
      line-height: var(--lh-body),
    ),
    xl: (
      font-size: torem(20),
      line-height: var(--lh-body),
    ),
    lg: (
      font-size: torem(18),
      line-height: var(--lh-body),
    ),
    md: (
      font-size: torem(16),
      line-height: var(--lh-body),
    ),
    sm: (
      font-size: torem(14),
      line-height: var(--lh-body),
    ),
    xs: (
      font-size: torem(13),
      line-height: var(--lh-body),
    ),
    xxs: (
      font-size: torem(12),
      line-height: var(--lh-body),
    ),
    xxl-lg: (
      font-size: torem(26),
      line-height: var(--lh-body),
      breakpoints: (
        md: (
          font-size: torem(18),
          line-height: var(--lh-body),
        ),
      )
    ),
    lg-xl: (
      font-size: torem(18),
      line-height: var(--lh-body),
      breakpoints: (
        sm: (
          font-size: torem(20),
          line-height: var(--lh-body),
        ),
      )
    ),
  ),
  utility: (
    default: (
      font-family: var(--ff-utility),
    ),
    eyebrow: (
      font-size: torem(13),
      font-weight: var(--fw-medium),
      line-height: var(--lh-body),
      letter-spacing: var(--ls-eyebrow),
      text-transform: uppercase,
    ),
    link: (
      font-size: torem(16),
      line-height: var(--lh-body),
    ),
    link-sm: (
      font-size: torem(14),
      line-height: var(--lh-body),
    ),
    link-xs: (
      font-size: torem(13),
      line-height: var(--lh-body),
    ),
    link-xxs: (
      font-size: torem(12),
      line-height: var(--lh-body),
    ),
    link-standalone: (
      color: var(--color-brand-violet),
      font-size: torem(14),
      font-weight: var(--fw-medium),
      line-height: var(--lh-body),
      text-decoration: underline,
      text-underline-offset: 25%,
    ),
    button: (
      color: var(--color-brand-violet),
      font-size: torem(14),
      font-weight: var(--fw-medium),
      line-height: var(--lh-body),
    ),
    legal: (
      font-size: torem(12),
      line-height: var(--lh-body),
    ),
  ),
  banner: (
    default: (
      font-family: var(--ff-header),
    ),
    lg: (
      font-size: torem(56),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
      breakpoints: (
        sm: (
          font-size: torem(36),
          line-height: var(--lh-heading),
          letter-spacing: var(--ls-heading),
        ),
      )
    ),
    sm: (
      font-size: torem(24),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
      breakpoints: (
        sm: (
          font-size: torem(18),
          line-height: var(--lh-heading),
          letter-spacing: var(--ls-heading),
        ),
      )
    ),
    xs: (
      font-size: torem(24),
      line-height: var(--lh-heading),
      letter-spacing: var(--ls-heading),
      breakpoints: (
        sm: (
          font-size: torem(14),
          line-height: var(--lh-heading),
          letter-spacing: var(--ls-heading),
        ),
      )
    ),
  ),
);
