/**
 * Convert px to rem.
 */

@function torem($value) {
  $rem-value: calc($value / 16) + rem;

  @return $rem-value;
}

/**
 * Typography list from Figma.
 *
 * A nested array by type and size. There can be a "default" size which will be
 * applied to all sizes.
 */

$typography: (
  display: (
    default: (
      font-family: var(--ff-primary),
    ),
    xl: (
      font-size: torem(68),
      line-height: torem(76),
      letter-spacing: torem(-2.25),
      breakpoints: (
        sm: (
          font-size: torem(42),
          line-height: torem(56),
        ),
      ),
    ),
    lg: (
      font-size: torem(64),
      line-height: torem(72),
      letter-spacing: torem(-2),
      breakpoints: (
        sm: (
          font-size: torem(36),
          line-height: torem(48),
        ),
      )
    ),
    md: (
      font-size: torem(54),
      line-height: torem(62),
      letter-spacing: torem(-1.75),
      breakpoints: (
        sm: (
          font-size: torem(36),
          line-height: torem(48),
        ),
      )
    ),
    sm: (
      font-size: torem(48),
      line-height: torem(56),
      letter-spacing: torem(-1.5),
      breakpoints: (
        sm: (
          font-size: torem(36),
          line-height: torem(48),
        ),
      )
    ),
  ),
  heading: (
    default: (
      font-family: var(--ff-primary),
    ),
    xl: (
      font-size: torem(40),
      line-height: torem(52),
      letter-spacing: torem(-1.5),
      breakpoints: (
        sm: (
          font-size: torem(28),
          line-height: torem(36),
        ),
      )
    ),
    lg: (
      font-size: torem(36),
      line-height: torem(48),
      letter-spacing: torem(-1.5),
      breakpoints: (
        sm: (
          font-size: torem(26),
          line-height: torem(34),
        ),
      )
    ),
    md: (
      font-size: torem(28),
      line-height: torem(38),
      letter-spacing: torem(-1.25),
      breakpoints: (
        sm: (
          font-size: torem(24),
          line-height: torem(30),
        ),
      )
    ),
    sm: (
      font-size: torem(24),
      line-height: torem(34),
      letter-spacing: torem(-1),
      breakpoints: (
        sm: (
          font-size: torem(20),
          line-height: torem(28),
        ),
      )
    ),
    xs: (
      font-size: torem(20),
      line-height: torem(28),
      letter-spacing: torem(-0.5),
      breakpoints: (
        sm: (
          font-size: torem(18),
          line-height: torem(26),
        ),
      )
    ),
  ),
  body: (
    default: (
      font-family: var(--ff-secondary),
    ),
    xxl: (
      font-size: torem(26),
      line-height: torem(20),
    ),
    xl: (
      font-size: torem(20),
      line-height: torem(28),
    ),
    lg: (
      font-size: torem(18),
      line-height: torem(26),
    ),
    md: (
      font-size: torem(16),
      line-height: torem(24),
    ),
    sm: (
      font-size: torem(14),
      line-height: torem(20),
    ),
    xxl-lg: (
      font-size: torem(26),
      line-height: torem(20),
      breakpoints: (
        sm: (
          font-size: torem(18),
          line-height: torem(26),
        ),
      )
    ),
    lg-xl: (
      font-size: torem(18),
      line-height: torem(26),
      breakpoints: (
        sm: (
          font-size: torem(20),
          line-height: torem(28),
        ),
      )
    ),
  ),
  banner: (
    default: (
      font-family: var(--ff-primary),
    ),
    lg: (
      font-size: torem(56),
      line-height: torem(64),
      letter-spacing: torem(-1.5),
      breakpoints: (
        sm: (
          font-size: torem(36),
          line-height: torem(48),
        ),
      )
    ),
    sm: (
      font-size: torem(24),
      line-height: torem(34),
      letter-spacing: torem(-1),
      breakpoints: (
        sm: (
          font-size: torem(18),
          line-height: torem(26),
        ),
      )
    ),
    xs: (
      font-size: torem(24),
      line-height: torem(34),
      letter-spacing: torem(-1),
      breakpoints: (
        sm: (
          font-size: torem(14),
          line-height: torem(20),
        ),
      )
    ),
    xxs: (
      font-size: torem(20),
      line-height: torem(28),
      breakpoints: (
        sm: (
          font-size: torem(14),
          line-height: torem(20),
        ),
      )
    ),
  ),
);
